@import "./_breakpoints.scss";
@import "./_variables.scss";

.threeImageSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 3rem 1rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

  @include breakpoint-md {
    justify-content: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &__description {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    max-width: 800px;
    color: #9b9b9b;
  }
  &__separator {
    width: 100%;
    height: 1px;
    background-color: #9b9b9b;
    border: none;
    margin: 1rem auto;

    @include breakpoint-md {
      width: 736px;
      margin: 2rem auto;
    }
  }

  &__images {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 0;
    justify-content: flex-start;
    margin-bottom: 8px;

    @include breakpoint-md {
      width: 100%;
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
    }
  }

  &__imageItem {
    flex: 0 0 100%; // full width
    scroll-snap-align: start;

    @include breakpoint-md {
      flex: 1 1 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__imageTitle {
    margin-top: 0.5rem;
    font-weight: 500;
    text-align: center;
  }

  /* Dots */
  &__dots {
    display: flex;
    justify-content: center;

    @include breakpoint-md {
      display: none;
      margin-top: 1rem;
      gap: 8px;
    }
  }

  &__dot {
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background: #ccc;
    transition: background 0.3s;

    &--active {
      background: #333;
    }
  }
}
