.navigation {
  display: flex;
  box-sizing: border-box;
  padding: 7px 0;
  justify-content: space-between;

  a {
    margin-right: auto;
    padding: 8px 0;
  }
  img {
    height: 60px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }
}
