@import "./_breakpoints.scss";

.navigation {
  display: flex;
  box-sizing: border-box;
  padding: 7px 0;
  @include breakpoint-md {
    justify-content: space-between;
  }

  a {
    margin-right: auto;
    padding: 8px 0;
  }
  img {
    height: 31.56px;
    margin-left: 12px;

    @include breakpoint-md {
      height: 60px;
      margin-left: 0;
    }
  }

  &__hamburger {
    display: flex;
    align-items: center;
    @include breakpoint-md {
      display: none;
    }
  }

  &__menu {
    display: none;
    justify-content: space-between;
    @include breakpoint-md {
      display: flex;
    }

    div {
      margin-left: 64px;
    }
  }
}
