@import "./_breakpoints.scss";

.navlink {
  margin-left: 64px;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 16px;

  @include breakpoint-md {
    margin-right: 0;
  }

  &:first-of-type {
    margin-top: 16px;
  }

  &:last-of-type {
    margin-bottom: 16px;
  }

  a {
    text-transform: uppercase;
  }

  &--active,
  &:hover {
    color: rgb(163, 163, 163);
    text-decoration: underline;
    text-underline-offset: 7px;
  }
}
