.navlink {
  margin-left: 64px;
  display: flex;
  align-items: center;
  margin-left: 0;

  a {
    text-transform: uppercase;
  }

  &--active,
  &:hover {
    color: rgb(163, 163, 163);
    text-decoration: underline;
    text-underline-offset: 7px;
  }
}
